@mixin transition($properties) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -ms-transition: $properties;
  transition: $properties;
}

@mixin transition_property($properties) {
  -webkit-transition-property: #{$properties};
  -moz-transition-property: #{$properties};
  -ms-transition-property: #{$properties};
  transition-property: #{$properties};
}

@mixin transition_duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition_timing_function($functionName) {
  -webkit-transition-timing-function: $functionName;
  -moz-transition-timing-function: $functionName;
  -ms-transition-timing-function: $functionName;
  transition-timing-function: $functionName;
}

