@mixin border-radius($radius: 4) {
  -webkit-border-radius: #{$radius}px;
  -moz-border-radius: #{$radius}px;
  -ms-border-radius: #{$radius}px;
  -o-border-radius: #{$radius}px;
  border-radius: #{$radius}px;
}

@mixin border-top-radius($radius: 4) {
  @include border-top-left-radius($radius);
  @include border-top-right-radius($radius);
}

@mixin border-bottom-radius($radius: 4) {
  @include border-bottom-left-radius($radius);
  @include border-bottom-right-radius($radius);
}

@mixin border-left-radius($radius: 4) {
  @include border-top-left-radius($radius);
  @include border-bottom-left-radius($radius);
}

@mixin border-right-radius($radius: 4) {
  @include border-top-right-radius($radius);
  @include border-bottom-right-radius($radius);
}

@mixin border-top-right-radius($radius: 4) {
  -webkit-border-top-right-radius: #{$radius}px;
  -moz-border-radius-topright: #{$radius}px;
  -ms-border-radius-top-right: #{$radius}px;
  border-top-right-radius: #{$radius}px;
}

@mixin border-top-left-radius($radius: 4) {
  -webkit-border-top-left-radius: #{$radius}px;
  -moz-border-radius-topleft: #{$radius}px;
  -ms-border-radius-top-left: #{$radius}px;
  border-top-left-radius: #{$radius}px;
}

@mixin border-bottom-right-radius($radius: 4) {
  -webkit-border-bottom-right-radius: #{$radius}px;
  -moz-border-radius-bottomright: #{$radius}px;
  -ms-border-radius-bottom-right: #{$radius}px;
  border-bottom-right-radius: #{$radius}px;
}

@mixin border-bottom-left-radius($radius: 4) {
  -webkit-border-bottom-left-radius: #{$radius}px;
  -moz-border-radius-bottomleft: #{$radius}px;
  -ms-border-radius-bottom-left: #{$radius}px;
  border-bottom-left-radius: #{$radius}px;
}