// Usage:
// * {
//   @extend %box-sizing;
// }
%box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Usage:
// nav li {
//   @include inline-block(middle);
// }
@mixin inline-block($vertical-align: top) {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: $vertical-align;
}