// Usage:
// h1 {
//   font-size: 2em;
//   @include media(small) {
//     font-size: 1.5em;
//   }
// }
@mixin media($media) {
  @if $media == full {
    @media only screen and (min-width: 980px) { @content; }
  }
  @else if $media == large {
    @media only screen and (max-width: 980px) { @content; }
  }
  @else if $media == medium {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == small {
    @media only screen and (max-width: 500px) { @content; }
  }
  @else if $media == hi-res {
    @media only screen and (min--moz-device-pixel-ratio: 1.3),
      (-o-min-device-pixel-ratio: 2.6/2),
      (-webkit-min-device-pixel-ratio: 1.3),
      (min-device-pixel-ratio: 1.3),
      (min-resolution: 1.3dppx) { @content; }
  }
}

// Legacy version, more verbose interface but doesn't require
// add-to-end-of-filename sass extension
// Usage:
// h1.logo {
//   background: transparent image-url("logo.png") no-repeat left top;
//   @include hi-res("logo_2x.png", 100px, 40px);
// }
@mixin hi-res($hi, $width, $height) {
  @include media(hi-res) {
    background-image: image-url($hi);
    -webkit-background-size: $width $height;
    background-size: $width $height;
  }
}

// THE FOLLOWING DOESN'T REALLY WORK WITH RAILS IMAGE-URL HELPER
// USE LEGACY VERSION ABOVE IF YOU NEED THAT
// Note: Requires add-to-end-of-filename sass extension
// h1.logo {
//   background: transparent no-repeat left top;
//   @include hi-res(image-url('logo.png'), 100px, 40px);
// }
// @mixin hi-res($image, $width, $height) {
//   background-image: $image;
//   @include media(hi-res) {
//     background-image: add-to-end-of-filename($image, "@2x");
//     -webkit-background-size: $width $height;
//     background-size: $width $height;
//   }
// }